:root {
    margin-top: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    flex-direction: column;
    flex-shrink: 1;
    justify-content: flex-start;
    background-color: rgb(255, 228, 225);
    background-image: url("project://database/Assets/Art/Background/backgroundcloud.jpg?fileID=2800000&guid=76c6ba1d71af83a42861707c7047ce5b&type=3#backgroundcloud");
}

.TitleStyle {
    font-size: 450%;
    -unity-text-align: middle-center;
    -unity-font-definition: url("project://database/Assets/UI/Font/PopHappinessStd-EB.ttf?fileID=12800000&guid=8e0ada50739e1a34ab20ba47b4ca59f0&type=3#PopHappinessStd-EB");
    -unity-font-style: normal;
    color: rgb(141, 215, 58);
    -unity-text-outline-width: 1px;
    -unity-text-outline-color: rgb(11, 11, 11);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
}

.GameOverTitleStyle {
    font-size: 450%;
    -unity-text-align: middle-center;
    -unity-font-definition: url("project://database/Assets/UI/Font/PopHappinessStd-EB.ttf?fileID=12800000&guid=8e0ada50739e1a34ab20ba47b4ca59f0&type=3#PopHappinessStd-EB");
    -unity-font-style: normal;
    color: rgb(215, 63, 58);
    -unity-text-outline-width: 1px;
    -unity-text-outline-color: rgb(11, 11, 11);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
}

.ButtonStyle {
    font-size: 200%;
    flex-direction: column;
    flex-basis: auto;
    aspect-ratio: auto;
    max-width: none;
    background-image: url("project://database/Assets/Art/2D%20Casual%20UI/Sprite/GUI.png?fileID=21300022&guid=1eaee135ce037439d925cee5e41ce026&type=3#GUI_11");
    background-color: rgba(0, 0, 0, 0);
    -unity-background-image-tint-color: rgb(255, 255, 255);
    -unity-font-definition: url("project://database/Assets/UI/Font/PopHappinessStd-EB.ttf?fileID=12800000&guid=8e0ada50739e1a34ab20ba47b4ca59f0&type=3#PopHappinessStd-EB");
    -unity-text-outline-width: 1px;
    color: rgb(255, 255, 255);
    -unity-text-outline-color: rgb(26, 26, 26);
    -unity-paragraph-spacing: 0;
    border-left-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    transition-property: -unity-background-image-tint-color, color;
    transition-duration: 0.2s;
}

.ButtonStyle:hover,
.ButtonStyle:focus {
    -unity-background-image-tint-color: rgb(199, 199, 199);
    color: rgb(199, 199, 199);
}

.ButtonStyle:active {
    background-image: url("project://database/Assets/Art/2D%20Casual%20UI/Sprite/GUI.png?fileID=21300020&guid=1eaee135ce037439d925cee5e41ce026&type=3#GUI_10");
}

.TitleContainerStyle {
    justify-content: center;
    align-items: stretch;
}

.ButtonContainerStyle {
    justify-content: flex-start;
    align-items: center;
}

.LabelStyle {
    -unity-font-style: bold;
    font-size: 180%;
    -unity-font-definition: url("project://database/Assets/UI/Font/PopHappinessStd-EB.ttf?fileID=12800000&guid=8e0ada50739e1a34ab20ba47b4ca59f0&type=3#PopHappinessStd-EB");
    color: rgb(255, 255, 255);
    -unity-text-outline-color: rgb(26, 26, 26);
    -unity-text-outline-width: 1px;
}

.LabelContainerStyle {
    align-items: center;
    justify-content: flex-start;
    align-self: auto;
}
