:root {
    margin-top: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    flex-direction: column;
    flex-shrink: 1;
    justify-content: flex-start;
    background-color: rgb(255, 228, 225);
}

.TitleStyle {
    font-size: 300%;
    -unity-text-align: middle-center;
}

.TitleContainerStyle {
    justify-content: center;
    align-items: stretch;
}

.ButtonContainerStyle {
    justify-content: flex-start;
    align-items: center;
}

.ButtonStyle {
    font-size: 100%;
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    flex-direction: column;
    flex-basis: auto;
    aspect-ratio: auto;
    max-width: none;
}

.LabelStyle {
    -unity-font-style: bold;
    font-size: 110%;
}

.LabelContainerStyle {
    align-items: center;
    justify-content: flex-start;
    align-self: auto;
}
